#toc {
  background-color: #999;
  min-width: 300px;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  flex: none;
}

#editor {
  display: flex;
  flex: 1;
  flex-direction: column;
  z-index: 0;
}

#title {
  flex: none;
  height: 36px;
}

.CodeMirror {
  height: 100% !important;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans CJK JP Regular", Meiryo, sans-serif !important;
}

.HyperMD-header-1 {
  font-size: 18px !important;
}
.HyperMD-header-2 {
  font-size: 14.4px !important;
}
.HyperMD-header-3 {
  font-size: 13px !important;
}

.cm-url {
  word-break: break-all;
}

.toc-item:hover {
  background-color: white;
  cursor: pointer;
}

.toc-item {
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: #ddd solid 1px;
  white-space: nowrap;
}
