/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#app {
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
}

#header {
    top: 0;
    position: fixed;
    height: 24px;
    z-index: 0;
}

#content {
    height: 100vh;
    width: 100vw;
}

nav {
    position: fixed;
    height: 24px;
    width: 100%;
    background-color: #1de9b6;
}

#main {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#navbar {
    display: flex;
    justify-content: space-between;
}

pre {
    border: solid 1px lightgray;
    border-radius: 4px;
    padding: 2px;
}
